* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



 



.texto {
    height: 40rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.texto h2 {
    font-family: 'Koulen', cursive;
    font-stretch: normal;
    padding: 10px;
    font-size: 6em;
    color:rgba(141, 1, 1, 0.9);

}

footer {
    grid-area: footer;
    background-color: black;
}



.tituloServicios h1{
    font-size: 5em;
    display: grid;
    align-items: center;
    justify-content: center;
}
.servicios{
    background-color: black;
}
.container{
    color: black;
}
