@import url('https://fonts.googleapis.com/css2?family=Anton&family=Koulen&family=Roboto+Flex:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Koulen&family=Oswald&family=Roboto+Flex:opsz,wght@8..144,100&display=swap');
@import url(header.scss);
$colorText: rgb(223, 204, 33);
@mixin fonts {
    font-family: 'Oswald', sans-serif;
    color: $colorText;
}
footer{
    background-color: beige;
}

body {
    background-color: black;
   
}

 


.titulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
        font-family: 'Anton', sans-serif;
        color: $colorText;
        line-height: 1.5em;
        text-align: center;
        font-size: 6rem;
    }

    ul {
        list-style-type: none;

        li {
            display: flex;
                justify-content: center;
                text-align: center;
                
            a {
                text-decoration: none;
                color: black;
                background: $colorText;
                padding: 10px;
                
                


            }
        }
    }
}


.tituloServicios {
    h1 {
        @include fonts;
        text-align: center;
        justify-content: center;
        font-size: 6rem;
        margin: 50px;
    }
}

