@import url('https://fonts.googleapis.com/css2?family=Anton&family=Koulen&family=Roboto+Flex:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Koulen&family=Oswald&family=Roboto+Flex:opsz,wght@8..144,100&display=swap');
@import url(_header.scss);
$colorText: rgb(223, 204, 33);

@mixin fonts {
    font-family: 'Oswald', sans-serif;
    color: $colorText;
}

@mixin lists {
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: space-around;

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

header {
    nav {
        ul {
            li {
                padding: 15px;
            }
        }


    }
}
.presentacion{
    margin: 20px;
    
    color: white;
}
body{
    background-color: black
    
}

.tituloVideo{
    display: flex;
    justify-content: center;
    
}
.video{
    display: flex;
    justify-content: center;
}
.tituloServicios {
    h1 {
        @include fonts;
        text-align: center;
        justify-content: center;
        font-size: 6rem;
        margin: 50px;
    }
}



.tituloContacto {
    h1 {
        color: $colorText;
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 4rem;
    }
}

.dato1 {
    ul {
        color: $colorText;
        @include lists;
    }

}

.dato2 {
    ul {
        color: white;
        @include lists
    }
}